$PrimaryColor: #448899;
$SecondaryColor: #666666;

body {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile {
      margin-top: 40px;
      width: 100%;
      max-width: 1200px;
      height: 400px;
      display: flex;
      justify-content: center;
      &__image-box {
        &--outer {
          width: 100%;
          max-width: 570px;
          height: 100%;
          padding: 0 15px;
        }
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        img.attraction {
          width: 100%;
          max-width: 540px;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          position: absolute;
          z-index: 1;
          transition: opacity 0.3s ease-in-out;
        }
      }
      &__arrow-btn {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 182px;
        opacity: 0.75;
        z-index: 3;
        &:hover {
          transition: 0.3s ease;
          cursor: pointer;
          opacity: 1;
        }
        &--left {
          left: 10px;
        }
        &--right {
          right: 10px;
        }
      }
      &__imgNo {
        height: 12px;
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        z-index: 3;
        overflow-x: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none;
        }

        .circle {
          background-color: white;
          width: 12px;
          height: 12px;
          border: 1px solid white;
          border-radius: 50%;
          margin: 0 10px;
          opacity: 0.7;
          &:hover {
            cursor: pointer;
          }
        }
        &--input {
          display: none;
        }
        &--input:checked + .circle {
          background-color: black;
        }
      }
      &__content {
        width: 100%;
        max-width: 630px;
        padding: 0px 15px;
        color: $SecondaryColor;
        h3 {
          height: 33px;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
        }

        &--form {
          width: 100%;
          height: 300px;
          background-color: #e8e8e8;
          margin-bottom: 8px;
          border-radius: 5px;
          padding: 15px 20px;
          position: relative;
          .form {
            &__title {
              margin-bottom: 15px;
              line-height: 22px;
              height: auto;
              &--slogan {
                line-height: 24px;
              }
            }

            &__option {
              margin-bottom: 15px;
              display: flex;
              align-items: center;
              padding: 0px;
              &--date {
                input {
                  margin-left: 5px;
                  width: 193px;
                  height: 35px;
                  position: relative;
                  &::-webkit-calendar-picker-indicator {
                    position: absolute;
                    left: 159px;
                    width: 24px;
                    height: 24px;
                    background-image: url("../images/calendar.png");
                    cursor: pointer;
                  }
                }
              }

              &--time {
                display: flex;
                gap: 5px;
                line-height: 22px;
                label {
                  width: 87px;
                  display: inline-flex;
                  gap: 4px;
                  padding-left: 5px;
                  align-items: center;
                  cursor: pointer;
                  .radio-btn {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background-color: white;
                    position: relative;
                  }
                  input {
                    display: none;
                  }
                  input:checked + .radio-btn::before {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    background-color: $PrimaryColor;
                  }
                }
              }
              &--cost {
                line-height: 22px;
                margin-bottom: 25px;
                display: flex;
                gap: 5px;
              }
            }
            &__alert {
              display: flex;
              align-items: center;
              display: none;
              img {
                margin: 0 5px;
                width: 12px;
                height: 12px;
                // opacity: 0.8;
              }
              width: 279px;
              margin: 10px 0px;
              font-size: 12px;
              color: black;
              background-color: #ffbd9b;
              opacity: 0.9;
              border-radius: 5px;
            }

            &__btn {
              background-color: $PrimaryColor;
              color: white;
              padding: 10px 20px;
              border-radius: 5px;
            }
          }
        }
        &--cat-mrt {
          height: 22px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
      }
    }

    .info {
      margin-bottom: 40px;
      width: 100%;
      max-width: 1200px;
      padding: 10px;
      color: $SecondaryColor;
      line-height: 24px;
      &__title {
        line-height: 32px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      .profile {
        margin: 0;
        padding: 0;
        height: auto;
        display: block;

        &__image-box {
          &--outer {
            max-width: none;
            height: 350px;
            padding: 0;
          }
          width: 100%;
          img.attraction {
            border-radius: 0;
            max-width: none;
          }
        }
        &__arrow-btn {
          top: 157px;
          &--left {
            left: 10px;
          }
          &--right {
            right: 10px;
          }
        }
        &__content {
          margin-top: 20px;
          max-width: none;
          padding: 0 10px;
        }
      }
    }
  }
}
