body .hero {
  width: 100%;
  height: 320px;
  background-image: url(../images/[orig]\ welcome\ image.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .hero__content-box {
  width: 1200px;
  height: 169px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .hero__slogan {
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .hero__slogan h1 {
  padding: 10px 0px;
  height: 41px;
  color: #f8f8f8;
  text-shadow: 1px 1px 2px #666666;
}
body .hero__slogan p {
  padding: 5px 0px;
  text-shadow: 1px 1px 2px #666666;
  color: #f8f8f8;
}
body .hero__search {
  display: flex;
  width: 100%;
  height: 46px;
}
body .hero__search input {
  box-shadow: 0 0 5px 0 #666666 inset;
  width: 400px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  position: relative;
}
body .hero__search button .btn__background {
  width: 60px;
  height: 100%;
  background-color: #448899;
  position: relative;
  border-radius: 0 5px 5px 0;
}
body .hero__search button .btn__icon {
  position: absolute;
  top: 8px;
  left: 15px;
}
body main {
  min-height: calc(100vh - 578px);
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .mrt-bar {
  padding: 0 0 20px 0;
  max-width: 1200px;
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
}
body main .mrt-bar__arrow {
  width: 47px;
  height: 100%;
  display: flex;
  align-items: center;
}
body main .mrt-bar__arrow img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
body main .mrt-bar__arrow img:hover {
  opacity: 1;
  cursor: pointer;
}
body main .mrt-bar__arrow--left {
  justify-content: end;
}
body main .mrt-bar__arrow--right {
  justify-content: start;
}
body main .mrt-bar__container {
  padding: 0px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
body main .mrt-bar__container::-webkit-scrollbar {
  display: none;
}
body main .mrt-bar__container .mrt {
  padding: 5px 15px;
  white-space: nowrap;
  color: #666666;
}
body main .mrt-bar__container .mrt:hover {
  color: black;
  cursor: pointer;
  text-shadow: 0.5px 0.5px 0.5px #666666;
}
body main .attraction {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main .attraction__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
body main .attraction__box {
  width: 100%;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: relative;
  z-index: 0;
}
body main .attraction__box--outer {
  height: 272px;
  display: flex;
  flex: 1 0 25%;
  max-width: 25%;
}
body main .attraction__box:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 1px 20px 0 #666666;
  cursor: pointer;
}
body main .attraction__img {
  width: 100%;
  height: 197px;
}
body main .attraction__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
body main .attraction__name {
  position: absolute;
  background-color: #000000;
  z-index: 1;
  opacity: 0.6;
  bottom: 43px;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body main .attraction__info {
  z-index: 0;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #666666;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding: 10px;
  }
  main .attraction__box--outer {
    flex: 1 0 50%;
    max-width: 50%;
    height: 375px;
  }
  main .attraction__img {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  body .hero__search input {
    width: 225px;
  }
  body main .attraction {
    width: 97.77777%;
  }
  body main .attraction__box--outer {
    flex: 1 0 100%;
    max-width: 100%;
    height: 310px;
  }
  body main .attraction__img {
    height: 235px;
  }
}/*# sourceMappingURL=index.css.map */